<div class="wrapper row justify-content-center">
    <div class="col-xl-8 col-lg-7 row h-100 mt-5">
        <div class="main-text">
            <p class="heading poppins-bold">
                Tap into tomorrow with the <span class="colour">WowPe Payment Gateway!</span>
            </p>
            <p class="info">
                Simplify every payment with a fast, secure, and flexible digital system designed for your convenience. We offer smooth, reliable transactions anytime, anywhere, whether you're purchasing, sending money, or managing business payments. Our system adapts to your needs for a seamless experience.
            </p>
            <p class="info">
                The WowPe Demo Portal offers an easy and efficient way for merchants and developers to explore, prototype, and integrate products. Whether you’re a merchant looking to understand how WowPe can enhance your site or a developer aiming to prototype an integration, the Demo Portal gives you a fast track to discover all available possibilities without writing any code.
            </p>
        </div>
    </div>
    <div class="col-xl-4 col-lg-5 row h-100 mb-5">
        <!-- Login Component -->
        <app-login></app-login>
    </div>
</div>