<div class="col d-flex justify-content-center mt-rem-45">
    <div class="card w-75">
        <div class="card-title d-flex flex-column justify-content-center mt-3 align-items-center">
            <p class="title">
                Welcome back!
            </p>
            <p class="sub-title m-2">
                Sign in seamlessly using your Mobile Number
            </p>
        </div>
        <div class="card-body">
            <div class="phone-number">
                <div class="input-group">
                    <span class="input-group-text" id="country-code">+91</span>
                    <input type="text" class="form-control" placeholder="Phone Number" aria-label="phonenumber"
                        aria-describedby="login-phone-number" [formControl]="phoneNumber" minlength="10" maxlength="10" OnlyNumber [class.invalid]="phoneNumber.dirty && phoneNumber.errors">
                </div>
                @if(phoneNumber.dirty && phoneNumber.invalid && phoneNumber.errors){
                    <div class="error">
                        <span>Invalid Phone Number</span>
                    </div>
                }
            </div>
            <div class="submit d-flex justify-content-center mt-3">
                <button type="button" class="cta-btn" (click)="proceed()" [disabled]="phoneNumber.errors || !phoneNumber.value">Submit</button>
            </div>
        </div>
    </div>
</div>